adafruit-circuitpython-busdevice==5.0.1
adafruit-circuitpython-max31865==2.2.4
Adafruit-PlatformDetect==2.18.2
Adafruit-PureIO==1.1.7
astroid==2.4.2
bandit==1.6.2
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
Flask==1.1.2
gitdb==4.0.5
GitPython==3.1.9
idna==2.10
importlib-metadata==2.0.0
isort==5.6.4
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
loguru==0.5.3
MarkupSafe==1.1.1
mccabe==0.6.1
pbr==5.5.1
pkg-resources==0.0.0
pyftdi==0.52.0
pylint==2.6.0
pyserial==3.4
pyusb==1.1.0
PyYAML==5.3.1
requests==2.24.0
rpi-ws281x==4.2.4
RPi.GPIO==0.7.0
six==1.15.0
smmap==3.0.4
stevedore==3.2.2
sysv-ipc==1.0.1
toml==0.10.1
typed-ast==1.4.1
urllib3==1.25.11
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.3.1